#root{
    $mainBlue: #1946BA;
}

.default{
    width: 1400px;
    height: 1216px;
    position: relative;
}

@media(max-width: 728px){
    .default {
        width: 320px;
        height: 1388px;
    }
}